body {
  margin: 0;
  min-height: 100vh;
  background: #1a1a1a;
  font-family: "Inter", sans-serif;
}

.btnn {
  position: relative;
  padding: 9px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 172, 7);
  background: none;
  border: 2px solid rgb(255, 172, 7);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.liquid {
  background: linear-gradient(rgb(255, 172, 7) 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}
